[submodule "dependencies/jluna"]
	path = dependencies/jluna
	url = https://github.com/Clemapfel/jluna
[submodule "dependencies/SFML"]
	path = dependencies/SFML
	url = https://github.com/Clemapfel/SFML
[submodule "dependencies/box2d"]
	path = dependencies/box2d
	url = https://github.com/erincatto/box2d
